#proto
proto/build/
proto/.vscode/
proto/gen/cpp/

#libusb
libusb/build/
libusb/.vscode/

#cakin_ws
catkin_ws/build/
catkin_ws/devel/
catkin_ws/.vscode/

#grpc example
grpc_example/build/
grpc_example/.vscode/
