<launch>
    <group>
        <node name="broadcaster" pkg="learning_tf2" type="learning_tf2_broadcaster" output="screen" />
        <node name="pose" pkg="learning_tf2" type="learning_tf2_pose" output="screen" />
        <node name="listerner" pkg="learning_tf2" type="learning_tf2_listerner" output="screen" />
    </group>
</launch>