<launch>
    <arg name="enable_client" />
    <arg name="enable_server" />
    <group if="$(arg enable_client)">
        <node name="action_client" pkg="action_example" type="action_client" output="screen" />
    </group>
    <group if="$(arg enable_server)">
        <node name="action_server" pkg="action_example" type="action_server" output="screen" />
    </group>
</launch>